main.mt-5
  .container
    // Section: Content
    section
      .row
        .col-md-6.gx-5.mb-4
          .bg-image.hover-overlay.ripple.shadow-2-strong.rounded-5(data-mdb-ripple-color='light')
            img.img-fluid(src='assets/images/watercolor.jpg')
            |               
            a(href='#!')
              .mask(style='background-color: rgba(251, 251, 251, 0.15);')
        |           
        .col-md-6.gx-5.mb-4
          h4
            strong About Me
          |             
          p.text-muted
            |  I'm a software engineer currently working with modern web technolgies such as Node, Express, and REST.  I also focus on implementing the latest deep learning technolgies via Python.
          p.text-muted
            |  I live in the mountains East Tennessee.  Exploring the natural beauty of my region is my favorite way to relax.
          p.text-muted
            |  Having tutored throughout college, I care deeply about mentoring those with an interest in technology.  In the future, I will work to make software engineering a more accesible career, especially for underrepresented groups.
          |             
          p
            strong What's next?
          |             
          p.text-muted
            | As a recent graduate, I am seeking a work ennvironment that prioritizes personal and professional growth.  My overall goal is to become an expert in my field and, one day, a leader.
    // Section: Content
    hr.my-5
    // Section: Content
    section.text-center
      h4.mb-5
        strong View My Projects
      |         
      .row
        .col-lg-4.col-md-6.mb-4
          .card
            .bg-image.hover-overlay.ripple(data-mdb-ripple-color='light')
              img.img-fluid(src='/assets/images/stroke-1.jpg')
              |                 
              a(href='#!')
                .mask(style='background-color: rgba(251, 251, 251, 0.15);')
            |               
            .card-body
              h5.card-title AI for Stroke Detection
              |                 
              p.card-text
                | I utilize the Tensorflow deep learning framework to create an AI that detects facial paralysis, indicating stroke or palsy.
              |                 
              a.btn.btn-primary(href='#!') Learn More
        |           
        .col-lg-4.col-md-6.mb-4
          .card
            .bg-image.hover-overlay.ripple(data-mdb-ripple-color='light')
              img.img-fluid(src='/assets/images/stock-1.jpg')
              |                 
              a(href='#!')
                .mask(style='background-color: rgba(251, 251, 251, 0.15);')
            |               
            .card-body
              h5.card-title Social Media Investment Tracker
              |                 
              p.card-text
                | I scrape various social media sources for stock ticker mentions in order to identify market trends.
              |                 
              a.btn.btn-primary(href='#!') Learn More
        |           
        .col-lg-4.col-md-6.mb-4
          .card
            .bg-image.hover-overlay.ripple(data-mdb-ripple-color='light')
              img.img-fluid(src='/assets/images/ornl-1.jpg')
              |                 
              a(href='#!')
                .mask(style='background-color: rgba(251, 251, 251, 0.15);')
            |               
            .card-body
              h5.card-title AMO Tools Desktop
              |                 
              p.card-text
                | In conjunction with the Oak Ridge National Lab, I utilize Node.js to create a responsive web application for industrial efficiency calculations.
              |                 
              a.btn.btn-primary(href='#!') Learn More
    // Section: Content
    hr.my-5


